@media (min-width: 768px) {

    .search-container { 
        width: 100%;
        margin: 0 auto;
    }


    
    .cards-container {    
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));     
      display: grid; 
      gap: 2px;     
      padding: 2px;   
      margin: 0;
      max-height: 265px;
    }   

    .card {     
      border: 1px solid #ddd;
      background-color: rgb(17, 43, 60);
      padding: 0px;     
      width: 190px;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
    }


    .artwork-cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 10px;
      margin: 0;
    }
    
    .artwork-card {
      background-color: white;
      border: 1px solid #ddd;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    .artwork-card img {
      width: 100%;
      height: auto;
    }

    .artwork-card button{
      width: 100%;
      height: 35px;
      border-radius: 0px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      font-size: 14px;
      background-color: #f7f7f7;
    }

    .artwork-card button:hover{
      background-color: rgb(32, 83, 117);
      color: #fff;
    }
    
    .artwork-card-text {
      padding: 5px;
      color: black;
      text-align: center;
      font-size: 12px;
      text-decoration: none;
    }
    
    .artwork-cards-container {
      align-items: start;
    }

      .gens-cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0;
      }
      
      
      .dropdown-menu {
        right: 5px;
        left: auto;
      }

      .fav-btn {
        width: 32px;
        height: 32px; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
      }
      
      .fav-btn i {
        font-size: 18px; 
        color: white; 
      }

      .fav-container {
        width: 100%;
        margin: 0 auto;
      }
      
      .cards-container-favorites {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px 0;
      }
      
      .card-favorites {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        color: white;
        height: 160px;
        padding: 20px;
        cursor: pointer;
      }

      .button-app-favorite{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .login-container h2{
        margin: 7%;
        margin-bottom: 10%;
      
      }

        .card-content-favorites {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .card-bg-blur {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        z-index: 0;
      }
      
      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
      }
      
      .content-top h3 {
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 24px;
      }
      
      .content-top p {
        margin: 0;
        font-size: 12px;
        line-height: 1.2;
      }
      
      .remove-link {
        text-decoration: underline;
        cursor: pointer;
        z-index: 2;
      }

      .artist-alert{
        width: 100%;
      }

      .login-container{
        margin: 50px;
        width: 420px;
        align-self: center;
      }

      .login-container input{
        margin-left: 25px;
        width:370px;
        margin-right: 25px;
      }
  
      .login-input-container{
        min-height: 75px
      }
  
      .login-container button{
        margin: 25px;
        width:370px;
        margin-top: 15px;
      }
  
      .login-container label{
        margin-left: 25px;
  
      }

    }



    
        
    .card:hover{
      background-color: rgb(32, 83, 117);
    }

    .card-text {
      height: 100%;
      font-size: 15px;
      color: #ffffff;
      margin-top: 4%;
      margin-bottom: 4%;
      margin-left: 7%;
      margin-right: 7%;
      word-wrap: break-word;
      overflow-wrap: break-word; 
      white-space: normal;
    }

    .card img {
      width: 100%; 
      height: 100%; 
      display: block; 
      object-fit: cover; 
      border-top-left-radius: 3px; 
      border-top-right-radius: 3px; 
  }


    .wrapper {
      justify-content: left;
      background: #ffffff;
      margin: auto;
      text-align: center;
      position: relative;
      margin-bottom: 20px !important;
      height: 275px;
      padding: 3px;
      overflow: hidden; 
    }

    
  

  @media (max-width: 768px) {
    .search-form {
        width: 100%;
    }

    .fix-mobile-notif{
      z-index: 2; 
      right: 0%; 
      position:absolute; 
      top: 7%; 
      width: auto;
    }


    .cards-container {    
      display: grid; 
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));     
      gap: 10px;
      padding: 10px;   
      padding: 0; 
      margin: 0;
      max-height: 320px;
    }   

    .card {     
      background-color: rgb(17, 43, 60);
      border: 1px solid #eee;     
      padding: 0px;     
      width: 235px;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }      
        
    .card:hover{
      background-color: rgb(32, 83, 117);
      
    }

    .card-text {
      font-size: 20px;
      color: #ffffff;
      margin: 3%;
      
    }

    .card img {
      width: 100%; 
      height: 100%; 
      display: block; 
      object-fit: cover; 
      border-top-left-radius: 3px; 
      border-top-right-radius: 3px; 
  }

    .wrapper {
      justify-content: left;
      background: white;
      margin: auto;
      text-align: center;
      position: relative;
      margin-bottom: 20px !important;
      height: 330px;
      padding: 5px;
      overflow: hidden; 
    }


    .search-container {
      width: 100%;
      margin-top: 30px;
    }
    
  

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
  color: #333;
}

.close-btn:hover {
  color: #000;
}

.login-container{
  margin-top: 10%;
  width: 100%;
  align-self: center;
}

.login-container input{
  margin-left: 7%;
  width:86%;
}

.login-input-container{
  min-height: 75px
}

.login-container button{
  margin: 7%;
  width:86%;
  margin-top: 3%;
}

.login-container label{
  margin-left: 7%;

}
.login-container h2{
  margin: 7%;
  margin-bottom: 10%;

}

.artwork-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.artwork-card {
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  padding: 0; 
  margin: 0;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.artwork-card img {
  width: 100%;
  height: auto;
}

.artwork-card button{
  width: 100%;
  height: 35px;
  border-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 14px;
  background-color: #f7f7f7;
}

.artwork-card button:hover{
  background-color: rgb(32, 83, 117);
  color: #fff;
}

.artwork-card-text {
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.artwork-cards-container {
  align-items: start;
  margin-bottom: 50px;
}

.fav-btn {
  width: 48px;
  height: 48px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.fav-btn i {
  font-size: 24px; 
  color: white; 
}

.cards-container-favorites {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.fav-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}



.content-top h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 30px;
}

.content-top p {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

.gens-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 10px;
  margin: 0;
}

.card-favorites {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  height: 210px;
  padding: 20px;
  
}

    }

    .container-details {
      width: 100%;
  }

    .gens-card {
      background-color: white;
      border: 1px solid #ddd;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    
    
    .gens-card img {
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      object-fit: cover; 
    }
    
    .gens-card-text {
      padding: 5px;
      color: black;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
    }
    
    .gens-cards-container {
      align-items: start;
    }


        
    
       .card-content-favorites {
            position: relative;
            z-index: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          
          .card-bg-blur {
            position: absolute;
            top: -10px;
            left: -10px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            background-size: cover;
            background-position: center;
            filter: blur(5px);
            z-index: 0;
          }
          
          .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
          }
          
          
          .remove-link {
            text-decoration: underline;
            cursor: pointer;
            z-index: 2;
          }

  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 5px;
    min-width: min-content; 
  }


  .scrolls {
    overflow-x: auto; 
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;  
    scroll-behavior: smooth; 
    padding-bottom: 15px;
  }

  .button-nav-app-not-focused{
    color: #205375
  }

  .button-app{
    background-color: #205375;
    color: #fff
  }

  .button-app:hover{
    background-color: #184560;
    color: #fff
  }

  .button-app:click{
    color: #fff
  }
  

  .card-clicked {     
    background-color: rgb(32, 83, 117);
  }